node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
.env
# OS
.DS_Store
Thumbs.db

# Env
.env.*
!.env.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Paraglide
src/lib/paraglide

# Eslint
.eslintcache

# Sentry Config File
.env.sentry-build-plugin
