
/node_modules

# Output
/.output
/.svelte-kit
/build

# Env
.env
.env.*
!.env.development.example
!.env.production.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# ESlint
.eslintcache

# Paraglide
src/lib/paraglide
project.inlang/cache/
