
/node_modules

# Output
/.output
/.svelte-kit
/build

# Env
.env
.env.*
!.env.development.example
!.env.production.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# ESlint
.eslintcache

# Paraglide
src/lib/paraglide
project.inlang/cache/

# Android
/android/app/build
/android/app/src/main/assets
/android/build

# iOS
/ios/App/App/public

fibrie
