@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
	themes: light --default;
}

* {
	font-family: 'Google Sans Flex', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		'slnt' 0,
		'wdth' 100,
		'GRAD' 0,
		'ROND' 100;
}

@layer base {
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus {
		-webkit-box-shadow: 0 0 0 1000px theme('colors.base-100') inset !important;
		-webkit-text-fill-color: theme('colors.base-content') !important;
		transition: background-color 5000s ease-in-out 0s;
		border-radius: inherit;
	}
}
