@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
	themes: light --default;
}

* {
	font-family: 'Google Sans Flex', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		'slnt' 0,
		'wdth' 100,
		'GRAD' 0,
		'ROND' 100;
}

@layer base {
	:global(::view-transition-group(root)) {
		animation: none;
	}

	:global(::view-transition-old(content)) {
		animation: 150ms ease-in both fade-out;
	}

	:global(::view-transition-new(content)) {
		animation:
			300ms ease-out both fade-in,
			300ms cubic-bezier(0.2, 0, 0, 1) both slide-micro;
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
	}

	@keyframes fade-out {
		to {
			opacity: 0;
		}
	}

	@keyframes slide-micro {
		from {
			transform: translateY(8px);
		}
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus {
		-webkit-text-fill-color: theme('colors.base-content') !important;
		transition: background-color 5000s ease-in-out 0s;
		border-radius: inherit;
	}

	input:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}
