@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
	themes: autumn --default;
}

* {
	font-family: 'Google Sans Flex', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		'slnt' 0,
		'wdth' 100,
		'GRAD' 0,
		'ROND' 100;
}
